<nav>
  <div class="navbar">
    <div id="minimize">
      <img id="minimizeImg" src="/public/img/up-arrow.png" alt="" onclick="showNavbar()">
    </div>
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/account">Account</a>
    <!-- <a href="/">Mealplan</a> -->
    <a href="/add">Add</a>
  </div>
</nav>
