<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/public/index/style.css" type="text/css">
    <link rel="stylesheet" href="/public/nav/style.css" type="text/css">
    <title></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    oops, you have done sth wrong

  </body>
</html>
