<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/public/add/style.css" type="text/css">
    <link rel="stylesheet" href="/public/nav/style.css" type="text/css">
    <title></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div id="wrapper">

        <div id="leftWrapper" class="sidewrapper">
          <div id="stickyLeft">
            <img src="public/img/cupcake.png" alt="">
            <div id="underImgDescription">
              <h1>You can add your recipe here!</h1>
              <p>You will be able to store all your favourite recipes here! You can categorize them by taste (sweet/sour/bitter/other), by number of calories or by the meal you most often eat it for. Our website is going to allow you to search other users' recipes and save them in one place! Check it out yourself!</p>
            </div>
          </div>
        </div>

        <div id="rightWrapper" class="sidewrapper">
            <img id="recipeImg" src="public/img/img.png" alt="">
            <form action="" method="post">
              <input type="text" autocomplete="off" name="imgurl" placeholder="Paste the image url here (optional)">

              <label for="name">Your recipe name: </label>
              <input type="text" autocomplete="off" name="name" value="" placeholder="Enter the name of your recipe">

              <label for="meal">Meal you most often eat it for: </label>
              <select class="" name="meal" data-num="2">
                <option value="none">-</option>
                <option value="breakfast">Breakfast</option>
                <option value="brunch">Brunch</option>
                <option value="dinner">Dinner</option>
                <option value="lunch">Lunch</option>
                <option value="supper">supper</option>
              </select>

              <label for="meatvege">Meat or vege: </label>
              <select class="" name="meatvege" data-num="3">
                <option value="none">-</option>
                <option value="meat">Meat</option>
                <option value="vege">Vege</option>
              </select>

              <label for="ingredients">Ingredients: </label>
              <div id="ingredientsWrapper" name="ingredients">
                <div class="moreTexts">
                  <input type="text" autocomplete="off" name="ingredients[]" value="" placeholder="Enter the ingredient">
                  <input type="text" autocomplete="off" name="amount[]" value="" placeholder="Enter the amount">
                  <input type="text" autocomplete="off" name="kcal[]" value="" placeholder="Enter its kcal">
                  <div class="deleteIngredient" data-num="0" style="visibility:hidden">-</div>
                </div>


              </div>
              <div id="addMoreTexts">
                +
              </div>

              <label for="taste">Select tastes that describe this recipe (1 or 2)</label>
              <div class="moreSelects" name="taste">
                <select class="" name="taste1">
                  <option value="none">-</option>
                  <option value="sweet">Sweet</option>
                  <option value="sour">Sour</option>
                  <option value="spicy">Spicy</option>
                  <option value="bitter">Bitter</option>
                  <option value="fruit">Fruit</option>
                  <option value="other">Other</option>
                </select>

                <select class="" name="taste2">
                  <option value="none">-</option>
                  <option value="sweet">Sweet</option>
                  <option value="sour">Sour</option>
                  <option value="spicy">Spicy</option>
                  <option value="bitter">Bitter</option>
                  <option value="fruit">Fruit</option>
                  <option value="other">Other</option>
                </select>
              </div>

              <input id="addRecipe" type="button" value="Add Recipe!">
            </form>
        </div>

      </div>

    </main>
    <script type="text/javascript" src="/public/scripts/add/globalVars.js"></script>
    <script type="text/javascript" src="/public/scripts/add/updateImg.js"></script>
    <script type="text/javascript" src="/public/scripts/add/addIngredients.js"></script>
    <script type="text/javascript" src="/public/scripts/add/checkInputs.js"></script>
    <script type="text/javascript" src="/public/scripts/add/checkForm.js"></script>
  </body>
</html>
