<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/public/index/style.css" type="text/css">
    <link rel="stylesheet" href="/public/nav/style.css" type="text/css">
    <title></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div id="wrapper" class="main">

        <div id="leftWrapper" class="sidewrapper main">
          <img src="public/img/cupcake.png" alt="">
          <div id="underImgDescription">
            <h1>Welcome to the recipes App!</h1>
            <p>You will be able to store all your favourite recipes here! You can categorize them by taste (sweet/sour/bitter/other), by number of calories or by the meal you most often eat it for. Our website is going to allow you to search other users' recipes and save them in one place! Check it out yourself!</p>
          </div>
        </div>

        <!-- <div id="rightWrapper" class="sidewrapper">
          <div class="wrapperContent">
            rightwrapper here
          </div>
        </div> -->

      </div>

    </main>
    <script type="text/javascript" src="/public/scripts/showNavbar.js"></script>
    <%- include('./partials/nav.ejs') %>
  </body>
</html>
