<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/public/search/style.css" type="text/css">
    <link rel="stylesheet" href="/public/nav/style.css" type="text/css">
    <title></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div id="wrapper">

        <div id="leftWrapper" class="sidewrapper">
          <div id="stickyLeft">
            <div class="filter search">
              <input autocomplete="off" type="search" name="search" id="searchRecipes" placeholder="You can type in a name of the recipe">
              <select class="" id="sortBy" name="sortBy">
                <option value="none">Sort By</option>
                <option value="rateUp">Rate	&#9650 </option>
                <option value="rateDown">Rate	&#9660 </option>
                <option value="kcalUp">Kcal &#9650 </option>
                <option value="kcalDown">Kcal &#9660 </option>
                <option value="dateUp">Date &#9650 </option>
                <option value="dateDown">Date &#9660 </option>
              </select>
            </div>

            <form id="filters">

              <div class="filter">
                <label for="meal">Meal</label>
                <select class="" name="meal">
                  <option value="none">-</option>
                  <option value="breakfast">Breakfast</option>
                  <option value="brunch">Brunch</option>
                  <option value="dinner">Dinner</option>
                  <option value="lunch">Lunch</option>
                  <option value="supper">Supper</option>
                </select>
              </div>

              <div class="filter">
                <label for="taste">Taste</label>
                <select class="" name="taste">
                  <option value="none">-</option>
                  <option value="sweet">Sweet</option>
                  <option value="sour">Sour</option>
                  <option value="spicy">Spicy</option>
                  <option value="bitter">Bitter</option>
                  <option value="fruit">Fruit</option>
                  <option value="other">Other</option>
                </select>
              </div>

              <div class="filter">
                <label for="meatvege">Meat/Vege</label>
                <select class="" name="meatvege">
                  <option value="none">-</option>
                  <option value="meat">Meat</option>
                  <option value="vege">Vege</option>
                </select>
              </div>

              <div class="filter">
                <label for="kcalmin">Kcal</label>
                <input autocomplete="off" type="text" name="kcalmin">
                <h2>-</h2>
                <input autocomplete="off" type="text" name="kcalmax">
              </div>

              <input type="submit" value="Search!">
            </form>

          </div>

        </div>

        <div id="rightWrapper" class="sidewrapper">

          <div id="recipes">



          </div>

        </div>

      </div>

    </main>
    <script type="text/javascript" src="/public/scripts/loadRecipes.js"></script>
    <script type="text/javascript" src="/public/scripts/loadOnScroll.js"></script>
  </body>
</html>
