@media (min-width:768px){
  form
  {
    padding: 0;
    margin: 0;
  }


  #leftWrapper
  {
    /* flex-direction: row; */
    /* height: auto; */
    height: 80vh;
  }

  #stickyLeft
  {
    position: -webkit-sticky;
    position: sticky;
    top: 10.2vw;
    z-index: 900;
  }



  #rightWrapper
  {
    justify-content: flex-start;
  }



  #filters
  {
    color: var(--lightgrey);
    display: flex;
    justify-content: space-around;
    /* margin: 2vw 0 4vw; */
    margin: 3vw 0 0;
    flex-wrap: wrap;
  }

  .filter
  {
    padding: 2vw;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--lightgrey);
    border-radius: 20px;
    margin: 0 0 2vw 0;
    font-size: 2.5vw;
    cursor:pointer;
  }

  .filter:hover
  {
    background-color: var(--darkergrey-hover);
  }

  .filter label
  {
    margin-right: 1vw;
    cursor:pointer;
  }

  .filter input[type="text"], .filter select,.filter input[type="search"]
  {
    border-radius: 10px;
    background-color: var(--lightgrey);
    flex: none;
    height: 5.5vw;
    padding: 1.3vw;
    font-size: 2.2vw;
  }

  .search select
  {
    height: 5.5vw;
    margin: 1vw auto 0;
  }

  .filter input[type="text"]
  {
    width: 10vw;
  }

  .filter input[type="search"]
  {
    width: 70%;
  }

  .filter h2
  {
    margin: 0 1vw;
  }

  .search
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    background-color: var(--darkestgrey);
    border: none;
    margin: 0 auto 0;
    width: 100%;
    flex-wrap: wrap;
  }

  .search:hover
  {
    background-color: var(--darkgrey);
  }

  .search input[type="search"]
  {
    width: 100%;
    height: 5.5vw;
    border: none;
  }

  .search select
  {
    height: 5.5vw;
    width: 50%;
  }

  input[type="submit"], input[type="button"]
  {
    color: var(--lightgrey);
    background-color: var(--darkergrey);
    cursor:pointer;
    font-size: 2.3vw;
    border: 2px solid var(--lime);
    border-radius: 15px;
    padding: 1vw;
    width: 50%;
    margin: 2vw auto 0;
  }

  input[type="submit"]:hover, input[type="submit"]:focus, input[type="button"]:hover, input[type="button"]:focus
  {
    outline: none;
    background-color: var(--darkgrey);
  }

  #recipes a
  {
    background-color: var(--darkestgrey);
    margin-bottom: 5vw;
    border-radius: 15px;
    /* border-right: 2px solid var(--lightgrey); */
    padding: 3vw;
    width: 100%;
    display: flex;
    align-items: center;
  }

  #recipes a:hover, #recipes a:focus
  {
    background-color: var(--darkergrey-hover);
  }

  #recipes a img
  {
    width: 20vw;
  }

  #recipes a:last-child
  {
    margin:0;
  }

  .recipesText
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
  }

  .recipesName
  {
    font-size: 3.2vw;
  }

  .tags
  {
    width: 100%;
    padding: 2vw;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .tag
  {
    padding: .8vw 1vw;
    font-size: 2.3vw;
    background-color: var(--lightgrey);
    color: var(--darkergrey);
    border-radius: 15px;
    border-bottom: 2px solid var(--lime);
    margin-bottom: 1vw;
  }

}
