@media (min-width:768px){
  nav
  {
    position: sticky;
    top:0;
    z-index: 1000;
  }

  #navbar
  {
    color:var(--lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgrey);
    border-bottom: 2px solid var(--lightgrey);
  }

  #navbar a
  {
    padding: 1.5vw 3vw;
    font-size: 3vw;
  }

  #navbar a:hover, #navbar a:focus
  {
    outline:none;
    background-color: #3d3d3d;
  }

}
